.DS_Store
._.DS_Store
.env
.env.test
.idea/
.php-cs-fixer.cache
.phpunit.cache
.phpunit.result
.terraform.tfstate*
.terraform/
.vscode
composer.lock
deploy.prop
log/
phpunit.log
tests/.results
vendor/
