<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" backupGlobals="false" colors="true" bootstrap="vendor/autoload.php">
  <coverage includeUncoveredFiles="false">
    <include>
      <directory suffix=".php">src/</directory>
    </include>
    <exclude>
      <directory>./tests</directory>
      <directory>./vendor</directory>
    </exclude>
    <report>
      <clover outputFile="tests/.results/tests-clover.xml"/>
      <html outputDirectory="tests/.results/html/"/>
    </report>
  </coverage>
  <php>
    <ini name="error_reporting" value="-1"/>
    <ini name="display_errors" value="true"/>
  </php>
  <testsuites>
    <testsuite name="Full Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <logging>
    <junit outputFile="tests/.results/tests-junit.xml"/>
  </logging>
</phpunit>
